.chat
  .chatSide
    .chatUser
      %h5
        やくしじ
      .chatUser__actions
        %a.chatUser__action
          %i{class: "fa fa-pencil-square-o"}
        %a.chatUser__action
          %i{class: "fa fa-cog"}
    %ul.chatGroups
      %li.chatGroup
        %a.chatGroup__link
          %p.chatGroup__name
            html/cssをイチから書くのしんどい人のグループ
          %p.chatGroup__message
            こんばんは
      %li.chatGroup
        %a.chatGroup__link
          %p.chatGroup__name
            TECH::ADMIN
          %p.chatGroup__message
            piyo
  .chatMain
    .chatHeader
      .chatHeader__left
        %h2 html/cssをイチから書くのしんどい人のグループ
        %p.chatHeader__users
          Members:
          %span.chatHeader__user
            やくしじ
          %span.chatHeader__user
            hoge
          %span.chatHeader__user
            Piyo
      .chatHeader__right
        %a.chatHeader__editBtn
          Edit
    .chatBody
      %ul.chatMessages
        %li.chatMessage
          .chatMessage__header
            %p.chatMessage__name
              やくしじ
            %p.chatMessage__time
              2016/11/01 09:00:00
          %p.chatMessage__body
            おはよう
        %li.chatMessage
          .chatMessage__header
            %p.chatMessage__name
              やくしじ
            %p.chatMessage__time
              2016/11/01 23:59:59
          %p.chatMessage__body
            こんばんは
    .chatFooter
      = form_for @message do |f|
        .chatFooter__body
          = f.text_area :body, placeholder: "type a message", row: "1"
          = f.label :image do
            .chatFooter_file
            = f.file_field :image
            %i{class: "fa fa-image"}
        .chatFooter__sendBtn
        = f.submit "Send"
