= render template: "groups/index"
.chatMain
  .chatHeader
    .chatHeader__left
      %h2
        = @group.title
      %p.chatHeader__left__users
        Members:
        %span.chatHeader__left__users__user
          やくしじ
        %span.chatHeader__left__users__user
          hoge
        %span.chatHeader__left__users__user
          Piyo
    .chatHeader__right
      .chatHeader__right__editBtn
        = link_to "Edit", edit_group_path(@group_id)
  .chatBody
    %ul.chatMessages
      = render partial: "message"
  .chatFooter
    = form_for ([@group, @message]) do |f|
      .chatForm
        = f.text_area :body, placeholder: "type a message", row: "1"
        = f.label :image do
          = f.file_field :image
          %i.fa.fa-image
      = f.submit "Send"
