.chatGroupForm
  %h1 チャットグループ編集
  = form_for @group do |f|
    .chatGroupForm__field
      .chatGroupForm__field--left
        = f.label :title, "グループ名"
      .chatGroupForm__field--right
        = f.text_field :title, placeholder: "新しいグループ名を入力してください", row:1, value: @group.title, requied: "true"
    .chatGroupForm__field
      .chatGroupForm__field--left
        = f.label "チャットメンバー追加"
      .chatGroupForm__field--right
        = f.text_field :users, placeholder: "追加したいユーザー名を入力してください", row:1, requied: "true", value:''
        #searchResult
    .chatGroupForm__field
      .chatGroupForm__field--left
        = f.label "チャットメンバー"
      .chatGroupForm__field--right
        %ul.chatGroupForm__field--right__users
          - @group.users.each do |user|
            %li.chatGroupForm__field--right__users__user
              = user.name
              %input{ type: "hidden", name: "group[user_ids][]", value: user.id }
              - unless current_user.id == user.id
                %a.chatGroupForm__field--right__users__user__deletebtn
                  削除
    .chatGroupForm__field
      .chatGroupForm__field--right
        .chatGroupForm__field--right__btn
          = f.submit "Save"
