.chatGroupForm
  %h1 新規チャットグループ
  = form_for @group do |f|
    .chatGroupForm__field
      .chatGroupForm__field--left
        = f.label :title, "グループ名"
      .chatGroupForm__field--right
        = f.text_field :title, placeholder: "グループ名を入力してください", row:1, requied: "true"
    .chatGroupForm__field
      .chatGroupForm__field--left
        = f.label "チャットメンバー追加"
      .chatGroupForm__field--right
        = f.text_field :users, placeholder: "追加したいユーザー名を入力してください", row:1, requied: "true", value:''
        #searchResult
          / ここに検索結果のユーザ名＋追加ボタン
    .chatGroupForm__field
      .chatGroupForm__field--left
        = f.label "チャットメンバー"
      .chatGroupForm__field--right
        .chatGroupForm__field--right__users
          .chatGroupForm__field--right__users__user{ id: "#{}" }
            / hiddenかなんかでユーザのIDいれる
            = current_user.name
            / 追加したユーザー、削除ボタン
    .chatGroupForm__field
      .chatGroupForm__field--right
        .chatGroupForm__field--right__btn
          = f.submit "Save"
