.chatGroupForm
  %h1 新規チャットグループ
  = form_for @group do |f|
    .chatGroupForm__field
      .chatGroupForm__field--left
        = f.label :title, "グループ名"
      .chatGroupForm__field--right
        = f.text_field :title, placeholder: "グループ名を入力してください", row:1, requied: "true"
    .chatGroupForm__field
      .chatGroupForm__field--left
        = f.label :users, "チャットメンバー"
      .chatGroupForm__field--right
        = collection_check_boxes(:group, :user_ids, User.all, :id, :name) do |b|
          = b.label { b.check_box + b.text }
    .chatGroupForm__field
      .chatGroupForm__field--right
        .chatGroupForm__field--right__btn
          = f.submit "Save"
