!!!
%html(lang="ja")
  %head
    %meta{ content: 'text/html; charset=UTF-8', http: { equiv: 'Content-Type' } }/
    %title ChatSpace
    = stylesheet_link_tag    'application', media: 'all', data: { turbolinks: { track: true} }
    = javascript_include_tag 'application', data: { turbolinks: { track: true } }
    = csrf_meta_tags
  %body
    .user-name
      やくしじ
      %i.fa fa-edit
      %i.fa fa-cog

    .user-group
      %ul
        %li
          html/cssをイチから書くのしんどい人のグループ
          てすと
        %li
          TECH::ADMIN
          piyo
    .current_group
      html/cssをイチから書くのしんどい人のグループ
      edit
      members: やくしじ, まるお, hoge, huga
    .message
      %p やくしじ

      %p おはよう

      %p まるお

      %p こんばんは

    .message_box
      = form_tag do
        = text_field_tag :hoge
    = yield
